#Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px;
    width: 957px;
    margin: auto;
}

#Footer a {
    color: #8E8E8E;
    font-size: 13px;
    margin: 8px;
    cursor: pointer;
}

#Footer select {
    color: #8E8E8E;
    border: none;
    background-color: transparent;
}