#Home {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#Home>.inner {
    display: flex;
    justify-content: center;
    width: 935px;
}

#Home .left {
    width: 610px;
    overflow: auto;
}

/* Stories */
#Home .stories-bg {
    /* background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px; */
    padding-top: 0rem;
    padding: 1.2rem 0;
    margin-top: 4.8rem;
    margin-bottom: 1rem;
}

/* Suggestions */
#Home .right {
    width: 325px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 21px;
    padding-top: 1rem;
    position: sticky;
    top: 93px;
    z-index: -1;
}

/* Suggestions :: Head */
#Home .right .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#Home .right .head>div {
    display: flex;
    align-items: center;
}

#Home .right .head img {
    width: 55px;
    border-radius: 50%;
}

/* Suggestions :: Mid */
#Home .right .mid {
    width: 100%;
}

/* Suggestions :: Mid :: Upper */
#Home .right .mid .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

#Home .right .mid .upper span {
    font-weight: 600;
    color: #8e8e8e;
    font-size: 14px;
}

/* Suggestions :: Mid :: Lower */
#Home .right .mid .lower {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Home .right .mid .lower>div {
    display: flex;
    align-items: center;
}

#Home .right .mid .lower img {
    width: 33px;
    border-radius: 50%;
}

#Home .right .lower p {
    margin: 7px;
}

/* Suggestions :: Footer */
#Home .right .footer {
    width: 100%;
}

#Home .right .footer a {
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    margin-right: 4px;
}

#Home .footer div {
    margin-top: 1.2rem;
}

/* Suggestions :: Media Query */
@media screen and (max-width: 997px) {
    #Home .right {
        display: none;
    }
}

/* Hiding the Scrollbar */
#Home .left::-webkit-scrollbar {
    display: none;
}

#Home #Stories::-webkit-scrollbar {
    /* display: none; */
}