#Login {
    height: 100vh;
    width: 100vw;
}

#Login div {
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 20%);
}

#Login div .inform {
    margin: 10px 0;
}

#Login div img {
    width: 191px;
}

#Login div input {
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    background: #FAFAFA;
    font-size: 16px;
    width: 244px;
    color: rgb(0, 0, 0, 0.7);
}

#Login div .frgtpwd {
    color: #00376B;
}

#Login div .frgtpwd:hover {
    text-decoration: underline;
}

#Login div button {
    width: 244px;
}