.Navbar{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.Navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 935px;
    /* border: 1px solid; */
}

.Navbar .instagram{
    height: 28px;
}

.Navbar .search{
    width: 28%;
    height: 60%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    margin-right: -165px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.Navbar .search-icon{
    padding-left: 10px;
    width: 11px;
}

.Navbar input{
    color: #8F8F8F;
    background: transparent;
    border: none;
    padding-left: 10px;
}

.Navbar .search span{
    font-size: 14px;
}

.Navbar .tabs{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.Navbar svg{
    padding: 11px;
    box-sizing: content-box;
}

.Navbar #unread{
    background-color: red;
    border-radius: 54%;
    padding: 0 5px;
    color: white;
    position: relative;
    right: 21px;
    font-size: 12px;
    top: -27px;

}

/* Adding a post */
.Navbar .addpost{
    width: 451px;
    position: fixed;
    background-color: white;
    top: 13%;
    border-radius: 14px;
    display: none;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}

.Navbar .addpost .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.Navbar .addpost .header{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.Navbar .addpost .header h4{
    margin: 0;
}

.Navbar .dragger {
    padding: 24px ;
    height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Navbar .dragger button{
    background-color: #0095f6;
    color: #fff;
    border: none;
    margin-top: 17px;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.Navbar .addpost .close-btn{
    position: fixed;
    top: 7px;
    right: 7px;
    cursor: pointer;
    background-color: black;
}



