#Profile {
    width: 957px;
    display: flex;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
}

#Profile .bio {
    display: flex;
    align-items: center;
}

#Profile .bio .left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

#Profile .left img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

#Profile .bio .right {
    /* padding: 0 65px;
    width: -webkit-fill-available; */
}

#Profile .right .nameBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Profile .right .username {
    font-size: 28px;
}

#Profile .right .nameBtns {}

#Profile .right .nameBtns span {}

#Profile .right .nameBtns button {
    padding: 6px 9px;
    background: transparent;
    border: 1px solid gainsboro;
    border-radius: 3px;
    height: 32px;
}

#Profile .right .nameBtns button svg {}

#Profile .right .btnnameBtnss>svg {}

#Profile .right .numbers {
    margin: 17px 0;
    display: flex;
    justify-content: space-between;
}

#Profile .right .numbers span {
    font-size: 16px;
}

#Profile .right .name {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

#Profile .right .text {
    font-size: 16px;
}

#Profile .right .followedBy {
    font-size: 12px;
}

/* Highlights */
#Profile #highlights {
    padding: 25px 35px;
}

#Profile #highlights #Stories img {
    width: 75px;
}

#Profile #highlights #Stories div {
    padding-left: 3rem;
}

/* Content Section */
#Profile #content-container {
    border-top: 1px solid gainsboro;
}

#Profile #content-container .type {
    display: flex;
    justify-content: center;
    padding: 17px;
}

#Profile #content-container .type div {
    color: #8E8E8E;
    margin-right: 60px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}

#Profile #content-container .type div::after {
    border-top: 1px solid;
}

#Profile #content-container .body {
    display: flex;
    flex-wrap: wrap;
}

#Profile #content-container .piece {
    display: flex;
    flex-wrap: wrap;
    width: 293px;
    height: 293px;
    margin: 12px;
    cursor: pointer;
}

#Profile #content-container .piece img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#Profile #content-container .cover {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 18.3rem;
    border-radius: 7px;
}

#Profile #content-container .cover:hover {
    background: rgba(0, 0, 0, 0.3);
}