*{
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.bg{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
a{
    color: #262626;
    text-decoration: none;
}
svg{
    cursor: pointer;
}
/* Overlay div */
.overlay{
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    /* background: #252525; */
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    opacity: 1;
}